{% include "doctype.html" %}
<body class="h-100">
    {% include "nav.html" %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12">
                
            </div>
        </div>
    </div>
    
<div class="container">
    <div class="col-12">
        <h1 class="text-center display-1">Stockearte Rest App</h1>
    </div>
</div>
<div class="container">
  <div class="row">
    {% if session.get('roleName') == 'admin' %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='carga_masiva.png') }}" class="card-img-top" alt="..." width="100%" height="200">
            <div class="card-body">
                <h5 class="card-title">Carga Masiva de Usuarios</h5>
                <p class="card-text">Cargar usuarios de forma masiva vía CSV. Descarta aquellos que contienen errores.</p>
                <a href="/product" class="btn btn-warning">AGREGAR USUARIOS</a>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='catalogos.png') }}" class="card-img-top" alt="..." width="100%" height="200">
            <div class="card-body">
                <h5 class="card-title">CATÁLOGOS</h5>
                <p class="card-text">Ver todos los catálogos. Editarlos. Agregar o quitar productos a un catálogo. Generar PDF del catálogo.</p>
                <a href="/ver_ordenes_de_compra" class="btn btn-danger">VER CATÁLOGOS</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='informes.jpg') }}" class="card-img-top" alt="..." width="100%" height="200">
            <div class="card-body">
                <h5 class="card-title">INFORMES</h5>
                <p class="card-text">Ver informes de los productos y sus stocks. Guardá tus filtros personalizados.</p>
                <a href="/informes" target="_blank" class="btn btn-success">IR A INFORMES</a>
            </div>
        </div>
    </div>
</div>

</div>

</body>
</html>
